@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*, button {
    outline: none;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    width: auto;
}

#tree-canvas, #rebirth-canvas, #trial-canvas {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -999;
}

#currencies * {
	display: none;
}

#header {
	width: 100%
}

.table {
    display: flex !important;
}

@media (min-width: 955px) {
    .table {
        justify-content: center;
    }
}

.btn {
    font-weight: bold;
    width: 170px;
    height: 80px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.65rem;
    vertical-align: top;
    margin:7px;
    z-index: 999;
}

.btn:not(.tabbtn):hover {
    width: 172px;
    height: 82px;
}

.btn:not(.tabbtn):active {
    width: 165px;
    height: 77.5px;
}

.btn-bought {
    background-color: white;
}

.btn-unbought {
    background-color: lightgray;
}

.btn-locked {
    background-color: gray;
}

.btn-rebirth-bought {
    background-color: rgb(255, 0, 255);
}

.btn-rebirth-unbought {
    background-color: rgb(191, 0, 191);
}

.btn-rebirth-locked {
    background-color: rgb(151, 0, 151);
}

.tabbtn {
    height: 40px;
}

.btn-cleft-bought {
    background-color: red;
}

.btn-cleft-unbought {
    background-color: rgb(190, 0, 0);
}

.btn-cleft-locked {
    background-color: rgb(100, 0, 0);
}

.btn-cmid-bought {
    background-color: rgb(0, 255, 0);
}

.btn-cmid-unbought {
    background-color: rgb(0, 190, 0);
}

.btn-cmid-locked {
    background-color: rgb(0, 100, 0);
}

.btn-cright-bought {
    background-color: blue;
}

.btn-cright-unbought {
    background-color: rgb(0, 0, 190);
}

.btn-cright-locked {
    background-color: rgb(0, 0, 100);
}

.btn-creg-bought {
    background-color: yellow;
}

.btn-creg-unbought {
    background-color: rgb(190, 190, 0);
}

.btn-creg-locked {
    background-color: rgb(100, 100, 0);
}

/*
0 1 2 3 8
4 5 6 7 9
*/

.btn-trial { color: black }

#t0 { background-color: #FF0000 }
#t1, #t4 { background-color: #FF8800 }
#t2, #t5 { background-color: #FFFF00 }
#t3, #t6 { background-color: #88FF00 }
#t8, #t7 { background-color: #00FF88 }
#t9 { background-color: #00FFFF }